body{
    font-family: 'Roboto', sans-serif;
}

.upper{
    display: flex;
    flex-direction: column;
}

#income-style{
    display: flex;
    justify-content: space-evenly;
    background-color: #4287f5;
    margin-left: 200px;
    margin-right: 200px;
    padding: 10px;
}

#expenses-style{
    display: flex;
    justify-content: space-evenly;
    background-color: #fc2d2d;
    margin-left: 200px;
    margin-right: 200px;
    padding-left: 140px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}

#expenses-sum{
    padding-left: 150px;
}

#expenses-sum-percent{
    display: inline;
}

.sum{
    font-size: 2rem;
}

.align{
    display: flex;
    justify-content: center;
}

.middle{
    background-color: #e0ddd5;
    display: flex;
    justify-content: center;
}

.dropdown{
    border: 1px solid #010914;
    padding: 10px;
}
.desc{
    border: 1px solid #010914;
    padding: 10px;
}
.num-input{
    border: 1px solid #010914;
    padding: 10px;
}
.add-item{
    border: 1px solid #010914;
    padding: 10px;
}

.input-value{
    margin: 0 auto;
    display: inline-block;
}
.output{
   display: flex;
   justify-content: space-evenly;
}

.income-output{
    width: 500px;
}

.expenses-output{
    width: 500px;
}

.item-container{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    border-bottom: indigo 1px solid;
}
/*Button style*/
.delete-btn{
    margin-top: 38px;
    padding: 4px;
    border: solid 1px red;
    color: red;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(-100%);
    display: none;
}

.item-container:hover .delete-btn {
    display: initial;
}